main
 figure
   .bun.bun__top
     .face
       .eye.eye__left
       .eye.eye__right
       .mouth
     .seeds
       each seed in new Array(11)
         .seed
   .tomato
   .lettuce
     each leaf in new Array(6)
       .leaf
     .cover
       each arch in new Array(5)
         .arch
   .cheese
   .burger
     each spot in new Array(12)
       .spot
   .bun.bun__bottom
   .shadow
   